
@mixin buttons{
  float: left;
  padding: 17px 20px 17px;

}

@mixin clickButton($link, $backButton, $hover) {
  a, button{
    background-color: $backButton;
    color: $link;
    padding: 20px auto;
    text-align: center;
    text-decoration: underline overline;
    display: inline flex;
    border:none;
    &:hover{
      background-color: $hover;
    }
    &:active{
      background-color: darken($hover, 25%);
    }
    cursor: pointer;
  }
}

@mixin fontText($fontSize,$color){
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $color;
    text-align: left;
}

@mixin fontButton($fontSizeBut){
  a, button{
    font-size: $fontSizeBut;
    font-weight: $fontWeight;
    font-family: $fontFamily;
  }
}
