$lightlogoColor: #79903c;
$darklogoBackgroundColor: #1a1f23;
$darklogoBackgroundColorBlock: rgba(26, 31, 35, 0.6);
$darklogoColor: #cddd54;

$marginButton: 0px 0px 0px 10px;

$fontSizeButton: 1.2em;
$fontWeight: normal;
$fontFamily: 'Amaranth', sans-serif;


$border: 2px solid silver;
